html[dir=rtl] #onesignal-popover-container #onesignal-popover-dialog {
  direction: rtl;
}

html[dir=rtl] #onesignal-popover-container #onesignal-popover-dialog .popover-body-message {
  padding: 0 1.286em 0 0.2em;
}

html[dir=rtl] #onesignal-popover-container #onesignal-popover-dialog .popover-body-icon {
  float: right;
}

html[dir=rtl] #onesignal-popover-container #onesignal-popover-dialog .popover-footer {
  margin: 0.25em 0 0 0.25em;
}

html[dir=rtl] #onesignal-popover-container #onesignal-popover-dialog .align-right {
  float: left;
}

html[dir=rtl] #onesignal-popover-container #onesignal-popover-dialog .primary.popover-button + .secondary.popover-button {
  margin-right: auto;
  margin-left: 0.714em;
}
